body
{
    background-color:#333;
    color:#fff;
}
#home-section
{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)),url("images/background.jpg");
    background-size:cover;
    min-height: 700px;
    background-attachment: fixed;
}
#home-section .home-inner   
{
    padding-top: 150px;
}
#home-section .fa-check
{
    background-color: #fff!important;
}
#home-section .fa-check,#create-section .fa-check
{
    color:#008ed6;
    background-color:#333;
    padding:4px;
    border-radius:4px;
    font-size:2em;
}
#explore-section .fa-check,#share-section .fa-check
{
    color:#008ed6;
    background-color:#333;
    padding:4px;
    border-radius:4px;
    font-size:2em;
}
.card
{
    opacity: 0.9;
}
.box{
    transition: 0.5s linear;
}
.box:hover
{
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.2);
}
@media (max-width:992px)
{
.home-inner .card
{
    margin-bottom: 60px;
}
